body {
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Merriweather', serif;
}

/* Fonts  */

h1 {
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    margin: 50px auto 0 auto ;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    color: #66BFBF;
    font-weight: normal;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
}

.topcontainer {
    width: 100%;
    background-color: #E4F9F5;
    position: relative;
    padding-top: 100px;
}
.bottom-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.top-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
    
}

.middle-container {
    background-color: #ffff;
}

.journey {
    width: 40%;
    margin: auto;
}

p {
    line-height: 2;
}

.contact-me {
    padding-top: 5px;
    background-color: #7ccece;
}

hr {
    border: none;
    border-top: 10px dotted #EAF6F6;
    width: 3%;
}

.photo-burak {
    margin-top: 50px;
    border-radius: 50%;
    width: 15%;
    margin-bottom: 50px;
}

/* Header part of the screen.*/

.header {
    width: auto;
    height: 80px;
    background-color: #66BFBF;
    position: relative;
}

.inner-header {
    width: 70%;
    height: 80px;
    position: relative;
    margin: 0 auto;
}

.logo {
    width: 80px;
    height: 100%;
    float: left;
}

.the-tree {
    width: 70px;
    margin-top: 5px;
}
.navigator {
    height: 100%;
    float:right;
}

.navigator a {
    height: 100%;
    float: left;
    padding: 0 20px;
    display: table;
    text-underline-offset: 1;
    text-decoration: none;
}

.navigator a:hover {
    background-color: #499494;
}

.navigator a:last-child {
    padding-right: 20px;
}

.navigator a li {
    display: table-cell;
    vertical-align: middle;
    color: white;
    font-family: 'Montserrat';
    font-size: 16px;
}

.btn {
    text-decoration: none;
    color:  #11999E;
    margin: 10px;
}

/* Skills */

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
}

.codding {
    width: 25%;
    height: auto;
    float: left;
    padding: 0;
}

.hummor {
    width: 25%;
    height:auto;
    float: right;
}

.p-hummor {
    display: block;
    position: relative;
    left: 60px;
}

.h3-Jokes {
    display: block;
    position: relative;
    left: 60px;
}

.coppyright {
    color: white;
    font-family: 'Crimson Text', serif;
}

.contact-me {
    height: 120px;
    padding-top: auto;
    margin-top: 50px;
}

.contact-me-inner {
    position: relative;
    top: 30px;
}

.h2-contact {
    color: #66BFBF;
    
}

.button-contact {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .button-contact:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .get-in.touch {
    margin-bottom: 100px;
  }
